#root {
  background-color: rgb(58, 57, 57);
}

.header {
  /* display: flex;
  flex-direction: row; */
  display: inline-flex;
  flex-wrap: wrap;
  padding: 20px 5px;
  justify-content: center;
  z-index: 1;
  position: fixed;
}

.left-side {
  display: flex;
  flex-direction: row;
  margin: 0 5px;
}

.right-side {
  margin-left: 5rem;
}
button {
  margin: 0 5px;
  border-radius: 5px;
  border: none;
  padding: 12px 15px;
  color: aliceblue;
  font-weight: bolder;
}

.search-icon {
  position: relative;
  right: 30px;
}

input {
  width: 500px;
  height: 25px;
  padding: 5px;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid white;
  backdrop-filter: blur(5px);
  margin-left: 10rem;
}
#logo {
  background-image: url("image/imgur-logo.png");
  width: 100px;
  margin-right: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

/* explore */

.explore {
  background-image: url("./image/imgur-bg.png");
  width: 100%;
  height: 55vh;
  background-size: cover;
  box-sizing: border-box;
  position: sticky;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  color: rgb(68, 203, 241);
}

.flexItems {
  justify-content: space-between;
}

#heading {
  color: #a3a2b5;
  margin-top: 40px;
  margin-bottom: 5px;
}

.tagLines {
  color: #a3a2b5;
  margin-bottom: 5px;
}

.box {
  margin: 5px;
}

.box1 {
  margin: 5px;
  width: 220px;
}

#box-1 {
  background-image: url("https://i.imgur.com/3MQtq1W_d.jpg?maxwidth=800&shape=thumb&fidelity=high");
  background-size: cover;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

#box-2 {
  background-color: #bb2427;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  color: white;
}

#box-01 {
  background-image: url("https://i.imgur.com/UZ42WEx_d.jpg?maxwidth=800&shape=thumb&fidelity=high");
  background-size: cover;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

#box-02 {
  background-color: #40936d;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  color: white;
}

#box-03 {
  background-image: url("https://i.imgur.com/9r1qCDq_d.jpg?maxwidth=800&shape=thumb&fidelity=high");
  background-size: cover;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

#box-04 {
  background-color: #69468c;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  color: white;
}

#box-05 {
  background-image: url("https://i.imgur.com/nrFCOUB_d.jpg?maxwidth=800&shape=thumb&fidelity=high");
  background-size: cover;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

#box-06 {
  background-color: #3e306a;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  color: white;
}

#box-07 {
  background-image: url("https://i.imgur.com/avRBRpN_d.jpg?maxwidth=800&shape=thumb&fidelity=high");
  background-size: cover;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

#box-08 {
  background-color: #60aebb;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  color: white;
}

#box-09 {
  background-image: url("https://i.imgur.com/vgAmxLl_d.jpg?maxwidth=800&shape=thumb&fidelity=high");
  background-size: cover;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

#box-10 {
  background-color: #1bb76e;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  color: white;
}

#box-11 {
  background-image: url("https://i.imgur.com/2wD3VJA_d.jpg?maxwidth=800&shape=thumb&fidelity=high");
  background-size: cover;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

#box-12 {
  background-color: #26606e;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  color: white;
}

#box-13 {
  background-image: url("https://i.imgur.com/tUX1dpv_d.jpg?maxwidth=800&shape=thumb&fidelity=high");
  background-size: cover;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

#box-14 {
  background-color: #263ba7;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  color: white;
}

#box-15 {
  background-image: url("https://i.imgur.com/A2MU7EC_d.jpg?maxwidth=800&shape=thumb&fidelity=high");
  background-size: cover;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

#box-16 {
  background-color: #50535a;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  color: white;
}

#box-17 {
  background-image: url("https://i.imgur.com/0LD8xD5_d.jpg?maxwidth=800&shape=thumb&fidelity=high");
  background-size: cover;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

#box-18 {
  background-color: #328d67;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  color: white;
}

/* Post Section */

#tagContainer {
  /* background-color: #26606e; */
  width: 180vh;
}

#imgContainer {
  /* background-color: #26606e; */
  width: 180vh;
}

.images {
  background-image: url("https://i.imgur.com/lxzUnpb_d.webp?maxwidth=520&shape=thumb&fidelity=high");
  /* background-color: #1bb76e; */
  margin-bottom: 20px;
  height: 400px;
  width: 300px;
}

.images1 {
  background-image: url("https://i.imgur.com/h1qibbs_d.webp?maxwidth=520&shape=thumb&fidelity=high");
  /* background-color: #1bb76e; */
  background-size: cover;
  margin-bottom: 20px;
  height: 400px;
  width: 300px;
}

.images2 {
  background-image: url("https://i.imgur.com/aswlnIb_d.webp?maxwidth=520&shape=thumb&fidelity=high");
  /* background-color: #1bb76e; */
  background-size: cover;
  margin-bottom: 20px;
  height: 400px;
  width: 300px;
}

.images3 {
  background-image: url("https://i.imgur.com/d95ZWfW_d.webp?maxwidth=520&shape=thumb&fidelity=high");
  /* background-color: #1bb76e; */
  background-size: cover;
  margin-bottom: 20px;
  height: 400px;
  width: 300px;
}

.images4 {
  background-image: url("https://i.imgur.com/auiESrO_d.webp?maxwidth=520&shape=thumb&fidelity=high");
  /* background-color: #1bb76e; */
  background-size: cover;
  margin-bottom: 20px;
  height: 400px;
  width: 300px;
}

.images5 {
  background-image: url("https://i.imgur.com/kKmdqYY_d.webp?maxwidth=520&shape=thumb&fidelity=high");
  /* background-color: #1bb76e; */
  background-size: cover;
  margin-bottom: 20px;
  height: 400px;
  width: 300px;
}
.images6 {
  background-image: url("https://i.imgur.com/kQa9Ey1_d.webp?maxwidth=520&shape=thumb&fidelity=high");
  /* background-color: #1bb76e; */
  background-size: cover;
  margin-bottom: 20px;
  height: 400px;
  width: 300px;
}
.images7 {
  background-image: url("https://i.imgur.com/7jELybb_d.webp?maxwidth=520&shape=thumb&fidelity=high");
  /* background-color: #1bb76e; */
  background-size: cover;
  margin-bottom: 20px;
  height: 400px;
  width: 300px;
}
.images8 {
  background-image: url("https://i.imgur.com/7jELybb_d.webp?maxwidth=520&shape=thumb&fidelity=high");
  /* background-color: #1bb76e; */
  background-size: cover;
  margin-bottom: 20px;
  height: 400px;
  width: 300px;
}
.images9 {
  background-image: url("https://i.imgur.com/11ZhJQW_d.webp?maxwidth=520&shape=thumb&fidelity=high");
  /* background-color: #1bb76e; */
  background-size: cover;
  margin-bottom: 20px;
  height: 400px;
  width: 300px;
}
.images10 {
  background-image: url("https://i.imgur.com/NSg2aAD_d.webp?maxwidth=520&shape=thumb&fidelity=high");
  /* background-color: #1bb76e; */
  background-size: cover;
  margin-bottom: 20px;
  height: 400px;
  width: 300px;
}
.images11 {
  background-image: url("https://i.imgur.com/w9XIISa_d.webp?maxwidth=520&shape=thumb&fidelity=high");
  /* background-color: #1bb76e; */
  background-size: cover;
  margin-bottom: 20px;
  height: 400px;
  width: 300px;
}
